<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>ValidatorServlet</servlet-name>
        <servlet-class>servlets.ValidatorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataParserServlet</servlet-name>
        <servlet-class>servlets.DataParserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BasicServlet</servlet-name>
        <servlet-class>servlets.BasicServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidatorServlet</servlet-name>
        <url-pattern>/validate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataParserServlet</servlet-name>
        <url-pattern>/data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BasicServlet</servlet-name>
        <url-pattern>/basic</url-pattern>
    </servlet-mapping>
</web-app>
